trigger:
- none
 
pool:
  name: soumyaagent
 
stages:
- stage: Terraform
  displayName: Terraform ToDo Infra
  jobs:
  - job: Infra
    displayName: ToDo Infra
    steps:
 
    - task: TerraformInstaller@1
      displayName: Terraform Install
      inputs:
        terraformVersion: '1.12.2'
 
    - task: TerraformTaskV4@4
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Enviornment/dev'
        backendServiceArm: 'soumyadummy'
        backendAzureRmOverrideSubscriptionID: '18bbb1ca-f79e-49b4-8669-5a1208da00f7'
        backendAzureRmResourceGroupName: 'rg-terraform-backends'
        backendAzureRmStorageAccountName: 'tfbackendstorage321'
        backendAzureRmContainerName: 'tfstate'
        backendAzureRmKey: 'soumya.terraform.tfstate'
   
    - task: TerraformTaskV4@4
      displayName: Terraform Plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Enviornment/dev'
        environmentServiceNameAzureRM: 'soumyadummy'
    - task: TerraformTask@5
      displayName: Terraform apply
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/dev'
        commandOptions: '--auto-approve'
        environmentServiceNameAzureRM: 'soumyadummy'
        environmentAzureRmOverrideSubscriptionID: '18bbb1ca-f79e-49b4-8669-5a1208da00f7'