trigger:
- main
 
pool:
  name: soumyaagent
 
stages:
- stage: Terraform
  displayName: Terraform ToDo Infra
  jobs:
  - job: Infra
    displayName: ToDo Infra
    steps:
 
    - task: TerraformInstaller@1
      displayName: Terraform Install
      inputs:
        terraformVersion: 'latest'
 
    - task: TerraformTaskV4@4
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Enviornment/dev'
        backendServiceArm: 'soumyasp'
        backendAzureRmOverrideSubscriptionID: '18bbb1ca-f79e-49b4-8669-5a1208da00f7'
        backendAzureRmResourceGroupName: 'bhaweshnew'
        backendAzureRmStorageAccountName: 'bhaweshmishra'
        backendAzureRmContainerName: 'soumyacontainer'
        backendAzureRmKey: 'soumya.terraform.tfstate'
  - job: terraform_scan
    displayName: terraformscan
    steps:
      - task: tfsec@1
        inputs:
          version: 'v1.26.0'
          dir: '$(System.DefaultWorkingDirectory)/Enviornment/dev'
    # - task: TerraformTaskV4@4
    #   displayName: Terraform Plan
    #   inputs:
    #     provider: 'azurerm'
    #     command: 'plan'
    #     workingDirectory: '$(System.DefaultWorkingDirectory)/Enviornment/dev'
    #     environmentServiceNameAzureRM: 'soumyasp'

    # - task: TerraformTask@5
    #   displayName: Terraform apply
    #   inputs:
    #     provider: 'azurerm'
    #     command: 'apply'
    #     workingDirectory: '$(System.DefaultWorkingDirectory)/Enviornment/dev'
    #     commandOptions: '--auto-approve'
    #     environmentServiceNameAzureRM: 'soumyasp'
    #     environmentAzureRmOverrideSubscriptionID: '18bbb1ca-f79e-49b4-8669-5a1208da00f7'


    